<html>
    <head>
        <title>Esercizio 2</title>
    </head>
    <body>
        <form action = "/login" method = "GET">
            <p>Select your hobbies:</p>
            <input type="checkbox" name="calcio" value="Calcio">
            <label for="calcio">Calcio</label><br>
            <input type="checkbox" name="playstation" value="Playstation">
            <label for="playstation">Play</label><br>
            <input type="checkbox" name="chitarra" value="Chitarra">
            <label for="chitarra">Chitarra</label>
            <p><input type = "submit" value = "submit" /></p>
        </form>   
    </body>
</html>