<html>
    <head>
        <title>Esercizio 4</title>
    </head>
    <body>
        <form action = "/login" method = "GET">
            <p>Enter Temperature:</p>
            <input type = "text" name = "valoreTemperatura"><br><br>
            <p>Choose conversion:</p>
            <input type = "radio" name = "temperaturaFinale" value = "CF">Celsius-Fahrenheit<br>
            <input type = "radio" name = "temperaturaFinale" value = "FC">Fahrenheit-Celsius<br>
            <input type = "radio" name = "temperaturaFinale" value = "CK">Celsius-Kelvin<br><br>
            
            <!--<select name="temperaturaFinale2">
                <option value="CF">CelsiusFahrenheit</option>
               <option value="FC">FahrenheitCelsiu</option>
                <option value="CK">CelsiusKelvin</option>
            </select><br><br>-->

            <input type = "submit" value = "submit" /><br>
        </form>   
    </body>
</html>